body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 32px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#menu ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 10px;
    background-color: #fff;
}

.menu-item img {
    max-width: 100%;
    border-radius: 5px;
}

.menu-item h3 {
    font-size: 20px;
    margin: 10px 0;
}

.menu-item p {
    font-size: 14px;
    color: #777;
}

.menu-item button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cart ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#cart li {
    margin: 5px 0;
}

#cart-total {
    font-size: 24px;
    font-weight: bold;
}

#cart button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #555;
}
